[submodule "dependencies/lodepng"]
	path = dependencies/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "dependencies/optional-lite"]
	path = dependencies/optional-lite
	url = https://github.com/martinmoene/optional-lite.git
[submodule "dependencies/tinyobjloader"]
	path = dependencies/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
[submodule "dependencies/simpleini"]
	path = dependencies/simpleini
	url = https://github.com/brofield/simpleini.git
[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
